@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>
        <center><p>Lab Assignment #5 ASP.Net Core Entity Framework</p></center>
    </h2>
        <p><center>Worker Management</p></center>
        <p>I have created a web application that helps the employer to manage the supervisors and the workers. I got this idea when I was shopping at Walmart. So, I thought this may be relative to the assignment. Developing this kind of software helps the small size business to manage their workers.
        Talking about the project, the project allows the employer to add the supervisors as well as workers, then it also allows the user to assign the supervisor to each worker. The application can store the data such as name, hire date and department. This can capture supervisor’s data including the department they are working as well as their basic information. We also can embed the CSS as per the style as well as we can also add logo and icon for the company this can make the web application more attractive. This will help them to remain organized and at any point if the employer needs the data then he can easily differentiate worker and can check his history like performance, worked hours and similar. The web application is using the database to store the information. This web application is developed using the Entity Framework with .Net core 3.1 framework.
        </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
